@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    width: 700px;
}

a{
    color: #2cb831;
}

:root {
    --text-color: #2cb831;
}

pre {
    font-size: 8px;
    font-family: DejaVuSansMonoBold;
}

li {
    list-style: none;
}
main > pre:nth-child(2) {
    line-height:8px;
}


body {
    padding: 10px;
    margin:10px;
    font-family: 'Roboto Mono', sans-serif;
    background-color: #242624;
    color: #ccc;
    font-size: 18px;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gradient-text {
    /* Fallback: Set a background color. */
    background-color: red;

    /* Create the gradient. */
    background-image: linear-gradient(45deg, #02f70b, #2cb831);

    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;

    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

i {
    width: 20px;
}

.skills-content > p > span{
    color: #2cb831;
}

h1{
    font-size: 35px;
    letter-spacing: -5px;
    margin-bottom: 20px;
}

@media screen and (max-width:767px){
    .container {
        width: auto;
    }
    body {
        zoom: 0.8
    }
}